/* RESET */
:root {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  font-size: 1rem;
  color: #444;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* Header Section */
.header {
  background-color: #f5efef;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 20rem;
  border-radius: 0.8rem;
  margin-right: 1rem;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.main-text,
.sub-text {
  display: block;
}

.main-text {
  font-size: 4rem;
}

.sub-text {
  font-size: 1rem;
  font-style: italic;
}

/* Main Section */
.main {
  padding: 2rem;
}

.main .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.season-card {
  border: 1px solid #444;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.75);
  margin: 2rem;
  transition: all .2s;
}

.season-card:hover {
  transform: scale(1.1);
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.75);
}

.card-image {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.like-button {
  cursor: pointer;
}

.like-button:hover {
  transform: scale(1.2);
}

.like-button:active {
  transform: translateY(.1rem);
}


.season-description {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  display: block;
  margin: 1rem auto;
  text-align: center;
  background-color: #dd8a5a;
  color: #fff;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.75);
}

.btn-primary:hover {
  transform: scale(1.04);
  background-color: #e9a47d;
  cursor: pointer;
}

.btn-primary:active {
  transform: translateY(2px);
  background-color: #d97135;
  cursor: pointer;
}

/* Comments Popup */

.comment-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2c2c2cd0;
  overflow-y: scroll;
}

.popup-content {
  background-color: white;
  width: 70%;
  margin: 70px auto;
  padding: 5px 10vw 30px;
  box-sizing: border-box;
  border-radius: 16px;
}

.popup-header {
  display: flex;
}

.popup-close {
  float: right;
  font-size: 2rem;
  padding-top: 20px;
  margin-right: -10vw;
  cursor: pointer;
}

.popup-title {
  font-size: 2em;
}

.popup-image {
  max-width: 60%;
  width: 60%;
  height: 80vh;
  margin: 20px 10vw;
}

.d-none {
  display: none;
}

.center {
  text-align: center;
}

.synopsis {
  display: flex;
  justify-content: space-between;
}

.end {
  padding-right: 32px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.name-input {
  width: 25vw;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.text-input {
  width: 40vw;
  height: 15vh;
  margin-bottom: 20px;
  padding-left: 10px;
}

.comment-input-btn {
  width: 100px;
  height: 30px;
  background: none;
}

/* Footer Section */

footer {
  border-top: 1px solid rgb(49, 49, 49);
  padding: 10px 20px;
  margin: auto 30px;
  width: 95.5vw;
  text-align: center;
}


